.mainslider {
	/** BXSLIDER
===================================*/

.bx-wrapper {
	position: relative;
	padding: 0;
	*zoom: 1;
	height: 569px;
	li {
		overflow: hidden;
	}
}

.bx-wrapper img {
	height: 569px;
	width: auto;
	display: block;
}
.mslider-img {
	position: relative;
	left: 50%;
	top: 0;
	height: 570px;
	img {
		position: relative;
		left: -50%;
	}
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	width: 100%;
	height: 569px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 0px;
	@include s(sl-arr-left);
}
.bx-wrapper .bx-next {
	right: 0px;
	@include s(sl-arr-right);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-pager {
	text-align: left;
	width: 80%;
	display: none;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
}
bx-carousel-wrapper {
	.bx-wrapper {
		position: relative;
		padding: 0;
		*zoom: 1;
		height: 380px;	
	}
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	@include s(sl-arr-left);
}
.bx-wrapper .bx-next {
	right: 10px;
	@include s(sl-arr-right);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-pager {
	display: none;
}