/*.page-breadcrumbs {
	display: block;
	padding: 12px 20px;
}*/

.email-overall .page-breadcrumbs, .ep-reports .page-breadcrumbs,
.landing .page-breadcrumbs {
	display: block;
/*	padding: 11px 20px;
*/}

.email-overall .section-header {
	padding: 13px 0 18px 20px;
}

.email-overall .sbHolder, .ep-reports .sbHolder,
.landing .sbHolder {
	margin-top: 0 !important;
}

.rb-header {
	position: relative;
	margin: 33px 0 23px;
	padding: 0 28px 0 18px;
}

.rb-header h2{
	font-size: 20px;
	font-weight: 300;
	color: rgba(60, 65, 76, .85);
	display: inline-block;
	background: #F4F5F9;
	padding: 0 6px;
	position: relative;
	z-index: 2;
}

.rb-header:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #D7DCDE;
	position: absolute;
	left: 0;
	bottom: 6px;
	z-index: 1;
}

.report-item {
	float: left;
	margin-left: 20px;
	background: #EDEEF5;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
	padding: 19px 21px 13px 13px;
	width: 47.07757%;
}

.report-item:not(:last-child) {
	margin-bottom: 6px;
}

.report-header {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	margin-bottom: 7px;
}

.report-header h3 {
	color: #3C414C;
	font-size: 18px;
	font-weight: 600;
}

.report-icon {
	float: left;
	margin-right: 10px;
}

.report-body {
	font-size: 14px;
}

.report-block .table-controls {
	display: block;
	border-top: none;
	border-bottom: 2px solid rgb(215,220,222);
	clear: both;
}

.rb-header .sh-right {
	padding: 0 10px;
	background: #F4F5F9;
	position: relative;
	z-index: 3;
}

.i-btn-black {
	background-color: #000;
	background: #3c463a linear-gradient(to bottom,  rgba(255,255,255,.07) 0%,rgba(0,0,0,.07) 100%); /* W3C */
	border: none;
}

.i-btn-black:hover {
		background-color: #000;
		background: #3c463a linear-gradient(to bottom,  rgba(0,0,0,.07) 0%,rgba(255,255,255,.07) 100%); /* W3C */

}

.i-btn-big {
	padding: 6px 45px;
}

.email-overall .form-section .grid-60 {
	float: right;
}

.email-overall .form-section form {
	padding: 20px;
}

.email-overall .form-section table {
	width: 100%;
}

.email-overall .form-section table td {
	padding: 0 7px;
}

.email-overall .form-section table td.big-cell {
	width: 70%;
}

.email-overall .form-section table tr:not(:last-child) td {
	padding-bottom: 18px;
}

.email-overall .form-section table td:first-child {
	text-align: right;
	padding-right: 6px;
}

.form-section-text {
	padding: 20px;
}

.form-section-text .grid-70 {
	padding: 0;
}


.form-section-text label {
	float: left;
	text-align: left;
	padding-top: 7px;
	font-weight: bold;
}

.form-section p {
	margin-bottom: 27px;
}

.form-section-text p span {
	font-weight: 600;
}

.ep-report-block {
	padding: 17px 10px 12px;
}

.ep-report-item {
	float: left;
	margin-left: 10px;
	background-color: #EDEEF5;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
	padding: 6px 21px 13px 10px;
	width: 31.9%;
	text-align: center;
}

.ep-report-item .links {
	display: inline-block;
}

.opens {
	background-image: url('../images/backgrounds/ep-report-item-opens-bg.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.clicks {
	background-image: url('../images/backgrounds/ep-report-item-clicks-bg.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.videos {
	background-image: url('../images/backgrounds/ep-report-item-videos-bg.png');
	background-position: 10px 22px;
	background-repeat: no-repeat;
}

.questionnaire {
	background-image: url('../images/backgrounds/ep-report-item-questionnaire-bg.png');
	background-position: 10px 22px;
	background-repeat: no-repeat;
}

.ep-report-header h3 {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 0;
}

.i-btn-blue {
	background: #2c6aa4 linear-gradient(to bottom,  rgba(255,255,255,.07) 0%,rgba(0,0,0,.07) 100%); /* W3C */
	border: none;
}

.i-btn-blue:hover {
		background: #2c6aa4 linear-gradient(to bottom,  rgba(0,0,0,.07) 0%,rgba(255,255,255,.07) 100%); /* W3C */

}

.ep-report-data {
	margin-top: 26px;
}

.ep-report-data div {
	width: 33%;
	float: left;
	font-size: 18px;
	font-weight: 300;
}

.questionnaire .ep-report-data div {
	width: 50%;
}

.ep-report-data div span {
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #34495E;
}

.ep-statistic {
	padding: 0 20px;
}

.statistic-container {
	clear: both;
	float: none;
	background-color: #EDEEF5;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
	padding: 20px 13px;
	margin-top: 12px;
}

.statistic-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 600;
	float: left;
}

.statistic-list + .statistic-list {
	margin-left: 60px;
}

.statistic-data {
	float: right;
}

.statistic-list li {
	display: inline-block;
}

.statistic-list li:not(:last-child) {
	margin-right: 16px;
}

.statistic-list li span {
	font-weight: 700;
}

.filter-rows ul {
	display: inline-block;
	float: right;
	padding-top: 32px;
	padding-right: 20px;
}

.filter-rows li {
	display: inline-block;
}

.filter-rows li:not(:last-child) {
	margin-right: 23px;
}

.filter-rows li span {
	padding: 2px 23px;
}

.ep-reports .filter-rows {
	padding: 0;
	border-bottom: 2px solid #D7DCDE;
}

.ep-reports .filter-rows form {
	width: 30%;
	float: left;
	padding: 20px;
}

.ep-table {
	padding: 0 10px 5px;
}

.ep-table table {
	width: 100%;
	font-size: 13px;
	color: #4F5561;
}

.ep-table table thead {
	font-size: 13px;
	font-weight: 700;
}

.ep-table table thead th {
	padding: 19px 0;
	text-align: left;
	padding-left: 30px;
}

.ep-table table thead th:first-child,
.ep-table table thead th:nth-child(2) {
	text-align: left;
}

.ep-table table tr:not(:last-child) {
	border-bottom: 1px solid #fff;
}

.ep-table table td {
	padding: 18px 44px;
	font-size: 14px;
}

.ep-table a {
	color: #4F5561;
}




.buttons-group {
	clear: both;
	text-align: center;
	margin-top: 32px;
}

.buttons-group a {
	display: inline-block;
}

.buttons-group a:not(:last-child) {
	margin-right: 50px;
}

.landing .form-section form {
	padding: 10px 10px 28px;
}

.landing .sbHolder {
	margin-top: 0;
}

.landing table {
	width: 100%;
	margin-bottom: 32px;
}

.landing .form-section table td {
	padding: 0 7px 0 0;
}

.landing .form-section table tr:not(:last-child) td {
	padding-bottom: 18px;
}

.landing .form-section table td:first-child {
	text-align: right;
	width: 100px;
}

.landing .grid-45 {
	float: right;
}

.chart-container {
	padding-top: 32px;
}

.chart-container h2 {
	font-size: 26px;
	text-align: center;
}

.ct-chart {
	height: 229px;
}

.chart .ct-series-a .ct-bar {
	stroke: #326ea3;
}

.chart .ct-series-b .ct-bar {
	stroke: #fbaf5d;
}

.chart .ct-bar {
	stroke-width: 22px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.hor-chart .ct-bar {
	stroke-width: 13px;
}

.ct-grids {
	display: none;
}

.pie-container {
	width: 50%;
	float: left;
	padding: 10px;
}

.pie-container h3, .pie-container-small h3,
.area-container h3 {
	font-size: 23px;
	text-align: center;
	margin-bottom: 21px;
}

.chart-legend {
	padding: 0 69px;
	margin-bottom: 30px;
	font-size: 18px;
}

.chart-legend span {
	position: relative;
}

.chart-legend span.blue:before {
	content: "";
	width: 22px;
	height: 21px;
	border-radius: 3px;
	background: #326ea3;
	position: absolute;
	top: 0;
	left: -29px;
}

.chart-legend span.orange:before {
	content: "";
	width: 22px;
	height: 21px;
	border-radius: 3px;
	background: #fbaf5d;
	position: absolute;
	top: 0;
	left: -29px;
}

.chart-legend span.green:before {
	content: "";
	width: 22px;
	height: 21px;
	border-radius: 3px;
	background: #6aaa61;
	position: absolute;
	top: 0;
	left: -29px;
}

.chart-legend span.av:before {
	content: "";
	width: 22px;
	height: 2px;
	background: #686e7a;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: -29px;
}

.chart-legend span:not(:last-child) {
	margin-right: 45px;
}

.pie-chart, .pie-chart-1,
.donut-chart,
.horizontal-chart {
	height: 317px;
	margin-bottom: 20px;
}

.ct-series-b .ct-slice-pie {
	fill: #6aaa61;
}

.ct-series-a .ct-slice-pie {
	fill: #326ea3;
}

.pie-chart .ct-label,
.pie-chart-1 .ct-label,
.pie-chart-user .ct-label,
.questionary-chart .ct-label,
.questionary-chart-1 .ct-label,
.questionary-chart-2 .ct-label {
	fill: #FFF;
	font-size: 22px;
}

.donut-chart {
	position: relative;
}

.donut-labels {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 52px;
}

.donut-labels span {
	display: block;
	width: 239px;
	text-align: center;
}

.donut-label-1 {
	color: #5eb2ea;
	border-bottom: 1px solid #d9dade;
	padding-bottom: 20px;
}

.donut-label-2 {
	color: #ea527d;
	padding-top: 15px;
}

.donut-chart .ct-series-b .ct-label {
	fill: #ea527d;
	font-size: 52px;
}

.donut-chart .ct-series-a .ct-label {
	fill: #5eb2ea;
	font-size: 52px;
}

.ct-series-b .ct-slice-donut {
	stroke: #ea527d;
}

.ct-series-a .ct-slice-donut {
	stroke: #5eb2ea;
}

.legend {
	font-size: 19px;
	color: #181818;
}

.legend h4 {
		font-weight: 600;
		text-align: center;
		margin-bottom: 20px;
}

.legend p {
	padding-left: 39px;
	position: relative;
}

.legend p + p {
	margin-top: 15px;
}

.donut-legend-1:before {
	content: '';
	width: 23px;
	height: 23px;
	background-color: #5eb2ea;
	position: absolute;
	left: 0;
	top: 0;
}

.donut-legend-2:before {
	content: '';
	width: 23px;
	height: 23px;
	background-color: #ea527d;
	position: absolute;
	left: 0;
	top: 0;
}

.bx-wrapper {
  position: relative;
}

.bx-controls-direction {
  width: 100%;
  height: 52px;
  position: absolute;
  top: -15px;
}

.bx-wrapper .bx-controls-direction a {
  display: inline-block;
  width: 52px;
  height: 52px;
  top: 0;
}

.bx-wrapper .bx-prev {
  background: url('../images/navigations/icon-nav-slider-prev.png');
}

.bx-wrapper .bx-next {
  background: url('../images/navigations/icon-nav-slider-next.png');
}

.horizontal-chart .ct-bar {
	stroke-width: 10px;
}

.horizontal-chart-list,
.horizontal-chart-full-list {
	font-size: 19px;
	color: #181818;
	font-weight: 600;
}

.horizontal-chart-list li:not(:last-child),
.horizontal-chart-full-list li:not(:last-child) {
	margin-bottom: 30px;
}

.horizontal-chart-list-label {
	display: inline-block;
	margin-right: 17px;
	vertical-align: middle;
}

.horizontal-chart-full-list-label {
	display: inline-block;
	vertical-align: middle;
	/*margin-right: 7%;*/
}

.horizontal-chart-list-lines {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #e6e6e6;
}

.horizontal-chart-full-list-lines {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.horizontal-chart-full-list-lines span {
  transition: all .3s ease-in-out;
}

.horizontal-chart-full-list-line-1 {
	background: #f0507c;
	float: left;
}

.horizontal-chart-full-list-line-2 {
	background: #67b0df;
	float: left;
}

.horizontal-chart-full-list-line-3 {
	background: #5bcc40;
	float: left;
}

.horizontal-chart-full-list-line-4 {
	background: #f2a05d;
	float: left;
}

.horizontal-chart-full-list-line-container {
	background: #e6e6e6;
	margin-bottom: 13px;
}

.horizontal-chart-list-lines span {
	display: block;
	height: 13px;
}

.horizontal-chart-full-list-lines span {
	display: block;
	height: 13px;
	position: relative;
}

.horizontal-chart-full-list-lines .line-text {
	display: inline-block;
	float: left;
	/*position: absolute;
	top: 0;
	left: 100%;*/
	margin-left: 15px;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	color: #868686;
}

.horizontal-chart-full {
	margin-bottom: 40px;
}

.horizontal-chart-full-legend {
	font-size: 14px;
	color: #8b8b8b;
}

.horizontal-chart-full-legend li {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 32px;
}

.horizontal-chart-full-legend li:before {
	content: '';
	width: 12px;
	height: 13px;
	position: absolute;
	left: 0;
	top: 4px;
}

.email-donut-legend-1:before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #5eb3eb;
  position: absolute;
  left: 0;
  top: 0;
}

.email-donut-legend-2:before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #f0507c;
  position: absolute;
  left: 0;
  top: 0;
}

.chart-slider h3 {
	font-size: 22px;
	text-align: center;
}

.chart-item {
	width: 33.333333%;
	float: left;
	padding: 10px;
}

.chart-item h2 {
	font-size: 22px;
	font-weight: 300;
	color: #181818;
	-ms-text-align-last: auto;
}

.slider-pie-chart,
.email-donut,
.slider-pie-chart-1,
.slider-pie-chart-2,
.slider-pie-chart-3,
.slider-pie-chart-4,
.slider-pie-chart-5,
.slider-pie-chart-6,
.slider-pie-chart-7,
.slider-pie-chart-8,
.slider-pie-chart-9,
.email-donut-2,
.email-donut-3,
.email-donut-4,
.email-donut-5 {
	height: 317px;
}

.email-donut,
.email-donut-2,
.email-donut-3,
.email-donut-4,
.email-donut-5 {
	position: relative;
}

.email-donut-second,
.email-donut-second-2,
.email-donut-second-3,
.email-donut-second-4,
.email-donut-second-5 {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 47px;
	left: 40px;
	/*transform: translate(-50%, -50%);*/
}

.email-donut-label {
	font-size: 19px;
	color: #5eb2ea;
	position: absolute;
	top: 26px;
	left: 50%;
	transform: translateX(-120%);
}

.email-donut-second-label {
	font-size: 19px;
	color: #ea527d;
	position: absolute;
	top: 21px;
	left: 55%;
}

.email-donut-second .ct-series-a .ct-slice-donut,
.email-donut-second-2 .ct-series-a .ct-slice-donut,
.email-donut-second-3 .ct-series-a .ct-slice-donut,
.email-donut-second-4 .ct-series-a .ct-slice-donut,
.email-donut-second-5 .ct-series-a .ct-slice-donut {
	stroke: #ea527d;
}

.email-donut .ct-label,
.email-donut-2 .ct-label,
.email-donut-3 .ct-label,
.email-donut-4 .ct-label,
.email-donut-5 .ct-label {
	fill: #5eb2ea;
	font-size: 19px;
}

.slider-pie-chart .ct-series-a .ct-slice-pie,
.slider-pie-chart-2 .ct-series-a .ct-slice-pie,
.slider-pie-chart-4 .ct-series-a .ct-slice-pie,
.slider-pie-chart-6 .ct-series-a .ct-slice-pie,
.slider-pie-chart-8 .ct-series-a .ct-slice-pie {
	fill: #5eb3eb;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart-1 .ct-series-a .ct-slice-pie,
.slider-pie-chart-3 .ct-series-a .ct-slice-pie,
.slider-pie-chart-5 .ct-series-a .ct-slice-pie,
.slider-pie-chart-7 .ct-series-a .ct-slice-pie,
.slider-pie-chart-9 .ct-series-a .ct-slice-pie {
	fill: #5eb3eb;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart .ct-series-b .ct-slice-pie,
.slider-pie-chart-2 .ct-series-b .ct-slice-pie,
.slider-pie-chart-4 .ct-series-b .ct-slice-pie,
.slider-pie-chart-6 .ct-series-b .ct-slice-pie,
.slider-pie-chart-8 .ct-series-b .ct-slice-pie  {
	fill: #59cc3f;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart .ct-series-c .ct-slice-pie,
.slider-pie-chart-2 .ct-series-c .ct-slice-pie,
.slider-pie-chart-4 .ct-series-c .ct-slice-pie,
.slider-pie-chart-6 .ct-series-c .ct-slice-pie,
.slider-pie-chart-8 .ct-series-c .ct-slice-pie {
	fill: #f79f56;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart-1 .ct-series-b .ct-slice-pie,
.slider-pie-chart-3 .ct-series-b .ct-slice-pie,
.slider-pie-chart-5 .ct-series-b .ct-slice-pie,
.slider-pie-chart-7 .ct-series-b .ct-slice-pie,
.slider-pie-chart-9 .ct-series-b .ct-slice-pie {
	fill: #f79f56;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart .ct-series-d .ct-slice-pie,
.slider-pie-chart-2 .ct-series-d .ct-slice-pie,
.slider-pie-chart-4 .ct-series-d .ct-slice-pie,
.slider-pie-chart-6 .ct-series-d .ct-slice-pie,
.slider-pie-chart-8 .ct-series-d .ct-slice-pie {
	fill: #eb527d;
	stroke: #fff;
  stroke-width: 6px;
}

.slider-pie-chart-1 .ct-series-c .ct-slice-pie,
.slider-pie-chart-3 .ct-series-c .ct-slice-pie,
.slider-pie-chart-5 .ct-series-c .ct-slice-pie,
.slider-pie-chart-7 .ct-series-c .ct-slice-pie,
.slider-pie-chart-9 .ct-series-c .ct-slice-pie {
	fill: #eb527d;
	stroke: #fff;
  stroke-width: 6px;
}

.chart-item .legend h4 {
	font-weight: 400;
}

.slider-pie-chart-legend-1::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #eb527d;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-legend-2::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #5eb3eb;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-legend-3::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #59cc3f;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-legend-4::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #f79f56;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-1-legend-1::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #5eb3eb;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-1-legend-2::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #f79f56;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-pie-chart-1-legend-3::before {
	content: '';
  width: 23px;
  height: 23px;
  background-color: #eb527d;
  position: absolute;
  left: 0;
  top: 0;
}

.horizontal-chart-full-legend li:first-child::before {
	background: #f0507c;
}

.horizontal-chart-full-legend li:nth-child(2)::before {
	background: #67b0df;
}

.horizontal-chart-full-legend li:nth-child(3)::before {
	background: #5bcc40;
}

.horizontal-chart-full-legend li:nth-child(4)::before {
	background: #f2a05d;
}

.horizontal-chart-list-lines .automated {
	display: none;
}

.horizontal-chart-list-lines .automated:first-child {
 display: inline-block;
 vertical-align: middle;
 height: auto;
 color: #6a6b6f;
}

.horizontal-chart-list-line-1 {
	background: #61b3e7;
}

.horizontal-chart-list-line-2 {
	background: #ea527d;
}

.horizontal-chart .ct-horizontal {
	display: none;
}

.horizontal-chart .ct-series-b .ct-bar {
	stroke: #61b3e7;
}

.horizontal-chart .ct-series-a .ct-bar {
	stroke: #ea527d;
}

.chart + .chart {
	margin-top: 100px;
}

.chart h1 {
	font-size: 29px;
  font-weight: 300;
  color: rgb(60,65,76);
	text-align: center;
	margin-bottom: 30px;
}

.hor-chart {
	height: 200px;
	/*width: 81.3%;
	float: right;
	background: #EDEEF5;
	border: 2px solid #D7DCDE;
	border-radius: 5px;*/
}

/*.hor-chart .ct-labels {
	display: none;
}*/

/*.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
	display: none;
}*/

.hor-chart .ct-series-b .ct-bar {
	stroke: #326ea3;
}

.hor-chart .ct-series-a .ct-bar {
	stroke: #6aaa61;
}

.pie-container-small {
	width: 38%;
	float: left;
}

.area-container {
	width: 62%;
	float: left;
}

.pie-chart-user, .area-chart {
	height: 296px;
}

.pie-chart-user {
	margin-bottom: 33px;
}

.area-chart .ct-series-a .ct-area {
	fill: #326ea3;
	fill-opacity: 1;
}

.area-chart .ct-series-a .ct-point {
	display: none;
}

.area-chart .ct-series-a .ct-line {
	stroke: #326ea3;
}

.chart-container .form-section {
	padding: 33px 0;
}

.hor-chart-container {
	padding: 30px 0;
}

.questionary-container {
	padding: 30px 0;
}

.questionary-chart,
.questionary-chart-1,
.questionary-chart-2 {
	width: 33%;
	float: left;
	text-align: center;
}

.questionary-chart div:first-child,
.questionary-chart-1 div:first-child,
.questionary-chart-2 div:first-child {
	height: 240px;
}

.questionary-chart,
.questionary-chart-1 {
/*	margin-right: 10px;
*/}

.questionary-container h4 {
	font-size: 19px;
	margin-top: 22px;
	margin-bottom: 16px;
}

.questionary-info span {
	display: inline-block;
	font-size: 15px;
}

.questionary-info span:first-child {
	float: left;
}

.questionary-info span:last-child {
	float: right;
}





/*CONFIGURATION PAGE*/

.main > .config-main {
	background: #fff;
	color: #0b0b0b;
	font-weight: 300;
	border-radius: 5px 5px 4px 4px;
}

.config-main > section {
	padding: 20px;
}

.config-main .section-header {
	background: #fff;
}
.config-main h3 {
	color: #181818;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}

.config-main .form-row {
	margin-top:0;
	margin-bottom: 24px;
	display: table;
	table-layout: fixed;
	width: 100%;
}

/*.config-main .form-row:not(:last-child) {
	margin-bottom: 24px;
}*/

.form-labels {
	width: 37%;
	/*float: left;*/
	display: table-cell;
	vertical-align: middle;
	color: #0b0b0b;
	font-size: 16px;
	text-align: right;
	padding-right: 60px;
}

.form-data {
	width: 63%;
	/*float: left;*/
	display: table-cell;
}

.form-data .sbHolder {
	margin-top: 0;
	width: 235px;
	height: 47px;
	border: 1px solid #007ac3;
	display: inline-block;
	text-align: left;
}

.form-data.small .sbHolder {
	width: 89px;
}

.form-data.big .sbHolder {
	width: 433px;
	height: 47px;
}

.last-row .sbHolder {
	width: 235px;
	height: 47px;
	float: left;
	margin-top: 13px;
	text-align: left;
	border: 1px solid #007ac3;
}

.last-row .sbSelector {
	color: #0b0b0b;
	font-size: 16px;
	font-weight: 300;
	height: 47px;
	line-height: 47px;
}

.form-data .sbSelector {
	color: #0b0b0b;
	font-size: 16px;
	font-weight: 300;
	height: 47px;
	line-height: 47px;
}

.config-main .sbToggle {
	height: 47px;
	background-position: -4px 10px;
}

.form-data .sbHolder:nth-of-type(2) {
	width: 105px;
}

.form-data.form-data--eq .sbHolder,
.form-data.form-data--eq .sbHolder:nth-of-type(2) {
	width: 225px;
}

.form-data span {
	display: inline-block;
	margin: 0 17px;
	font-size: 16px;
}

.form-data input[type="text"] {
	border: 1px solid #acacac;
	border-radius: 5px;
	width: 235px;
	height: 47px;
	font-size: 16px;
	padding-left: 19px;
}

.checkboxes {
	margin: 35px 0;
	color: #0b0b0b;
	font-size: 16px;
	font-weight: 300;
}

.checkboxes input[type="checkbox"] + label {
	padding-left: 45px;
}

.checkboxes input[type="checkbox"] + label:before {
	width: 26px;
	height: 25px;
	background: #14bff3;
	border-radius: 7px;
	/*margin-top: -12px;*/
	top: auto;
	bottom: 2px;
}

.checkboxes input[type="checkbox"]:checked + label:after {
	content: '';
	width: 16px;
	height: 10px;
	position: absolute;
	left: 4px;
	top: 50%;
	margin-top: -10px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.config-main .btn {
	display: inline-block;
	background-color: #007ac3;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 16px 22px;
	text-align: center;
}

.config-main .btn + .btn {
	margin-left: 60px;
}

.config-main .btn-big {
	width: 235px;
	display: block;
}

.config-main .btn-outline {
	background: #fff;
	border: 1px solid #007ac3;
	color: #505155;
	padding: 14px 22px;
}

.print-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../images/icons/print-icon.png');
	vertical-align: middle;
	margin-right: 10px;
}

.config-main .btn-add {
	position: relative;
	text-align: left;
	padding: 16px 32px;
}

.config-main .btn-add:before {
	content: '';
	height: 25px;
	width: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 42px;
}

.config-main .btn-add:after {
	content: '';
	width: 25px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	right: 30px;
}

.config-main .btn-giant {
	width: 326px;
	display: block;
}

.config-main .btn-giant.btn-add {
	padding: 16px 82px;
}

.config-main .btn-giant.btn-add:before {
	right: 92px;
}

.config-main .btn-giant.btn-add:after {
	right: 80px;
}

.config-main .remove-btn {
	background: #a1a1a1;
	margin-top: 18px;
}

.form-data input.big-input {
	width: 270px;
}

.form-data input.small-input {
	width: 18%;
	max-width: 148px;
}

.form-data a {
	color: #007ac3;
	font-size: 19px;
}

.form-divider {
	height: 2px;
	border-top: 2px solid #acacac;
	margin-bottom: 33px;
}

.config-main .h1 {
	display: block;
	color: #0b0b0b;
	font-size: 29px;
	font-weight: 300;
	margin-left: 16%;
	margin-bottom: 40px;
}

.delete-field {
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 2px solid #ed1c24;
	position: relative;
	top: -2px;
	margin-left: 21px;
}

.delete-field:before {
	content: '';
	width: 1px;
	height: 20px;
	background: #ed1c24;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	transform: rotate(45deg);
}

.delete-field:after {
	content: '';
	width: 1px;
	height: 20px;
	background: #ed1c24;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	transform: rotate(-45deg);
}

.config-main input[type="radio"] + label {
	/*width: 69px;*/
	height: 46px;
	background: #d7d7d7;
	border-radius: 5px 0px 0px 5px;
	padding: 0;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	display: block;
	padding: 0 33px;
	float: left;
}


.config-main input[type="radio"] + label:before {
	display: none;
}

.config-main input[type="radio"]:checked + label {
	background-color: #007ac3;
	color: #fff;
}

.config-main input[type="radio"]:nth-of-type(2) + label {
	border-radius: 0px 5px 5px 0px;
}

.form-row .sh-title {
	float: none;
}

.config-main textarea  {
	border: 1px solid #acacac;
	border-radius: 5px;
	width: 416px;
	height: 68px;
	padding: 19px;
}

.vat {
	vertical-align: top;
}

/*.form-labels.vat label {
	position: relative;
	top: 10px;
}*/

.team-logo, .brokerage-logo {
	margin-top: 32px;
	display: inline-block;
}

.team-logo .dropzone, .brokerage-logo .brokerage-dropzone {
	width: 260px;
	min-height: 151px;
	display: inline-block;
	border: 1px dashed #a6a6a6;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
}

.team-logo {
	float: left;
}

.brokerage-logo {
	float: right;
}

.dropzone span, .brokerage-dropzone span {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.dz-preview {
	padding: 19px;
}

.dz-success-mark, .dz-error-mark {
	display: inline-block;
}

.btn-upload {
	width: 260px;
	cursor: pointer;
}

.fr {
	float: right;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

.config-main .btn-submit {
	background-color: #30ac00;
	padding: 14px 96px 19px;
}

.pageWrap-login {
  background: url('../images/backgrounds/login-bg.jpg') center center no-repeat;
  background-size: cover;
}

.logo img {
  max-width: 90%;
  height: auto;
}

.login-form {
  padding-top: 22vh !important;
  text-align: center;
}

.login-form.main {
  padding: 40px 40px 50px;
}

.login-form form {
  padding-top: 22vh;
}

.login-form input {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, .5);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}

.login-form input[type="submit"] {
  background: #2267a2;
  margin-top: 20px;
}

.pwd-rec {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
